/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
 .wp-block-create-block-forced-fun-plugin.forced-fun-layout {
	display: flex;
	gap: 24px;
	align-items: stretch;
	border: 1px solid #b5bdbc;
	border-radius: 8px;
	overflow: hidden;

	> .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: flex;
		gap: 24px;
		align-items: stretch;
	}

	.wp-block-image {
		flex: 0 0 40%;
		margin: 0;
		display: flex;
		align-items: stretch;
	}

	.forced-fun-content {
		flex: 1 1 55%;
		min-width: 200px;
		order: 1;
		padding: 1rem;
	}

	/* Layout variations */
	&.image-left {
		> .block-editor-inner-blocks > .block-editor-block-list__layout {
			flex-direction: row;
		}
		.wp-block-image {
			order: 0;
		}
		.forced-fun-content {
			order: 1;
		}
	}

	&.image-right {
		> .block-editor-inner-blocks > .block-editor-block-list__layout {
			flex-direction: row;
		}
		.wp-block-image {
			order: 1;
		}
		.forced-fun-content {
			order: 0;
		}
	}

	&.no-image {
		> .block-editor-inner-blocks > .block-editor-block-list__layout {
			flex-direction: column;
		}
		.wp-block-image {
			display: none;
		}
	}

	@media (max-width: 768px) {
		flex-direction: column;
		.wp-block-image,
		.forced-fun-content {
			order: initial;
			width: 100%;
		}
	}
}
