/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-forced-fun-plugin {

	.forced-fun-image-text {
		display: flex;
		gap: 24px;
		align-items: flex-start;
	}

	.forced-fun-image {
		width: 40%;
	}

	.forced-fun-image-placeholder {
		background: #ddd;
		height: 200px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.forced-fun-content {
		width: 60%;
	}

	.forced-fun-button {
		margin-top: 16px;
	}
}